In [3]:
import pandas as pd
import matplotlib as plot
df = pd.read_csv("daily_gold_rate.csv")
df = df.fillna(0)
df

             Date      USD      EUR      GBP        INR      AED       CNY
0      1985-01-01   308.30   402.45   266.01    3825.85  1134.42      0.00
1      1985-01-02   305.50   401.49   266.00    3787.05  1134.42      0.00
2      1985-01-03   302.30   397.08   262.76    3718.88  1107.67      0.00
3      1985-01-04   303.15   397.15   262.58    3759.64  1118.21      0.00
4      1985-01-07   298.25   392.55   261.17    3741.23  1091.58    835.80
...           ...      ...      ...      ...        ...      ...       ...
10109  2023-10-02  1833.05  1747.59  1513.92  152333.60  6732.79  13377.60
10110  2023-10-03  1822.45  1741.97  1509.28  151684.52  6693.86  13300.24
10111  2023-10-04  1818.95  1730.36  1496.83  151375.75  6680.82  13274.70
10112  2023-10-05  1819.45  1726.89  1493.80  151431.00  6682.84  13278.35
10113  2023-10-06  1819.60  1720.01  1487.33  151268.44  6683.39  13278.35

[10114 rows x 7 columns]

In [15]:
news = pd.read_csv("gold_news.csv")
news['Dates'] = pd.to_datetime(df['Date'])
news_sorted = news.sort_values(by='Dates')
news_sorted

,Dates,URL,News,Price Direction Up,Price Direction Constant,Price Direction Down,Asset Comparision,Past Information,Future Information,Price Sentiment
0,1985-01-01,http://www.marketwatch.com/story/april-gold-do...,"april gold down 20 cents to settle at $1,116.1...",0,0,1,0,1,0,negative
1,1985-01-02,http://www.marketwatch.com/story/gold-prices-s...,gold suffers third straight daily decline,0,0,1,0,1,0,negative
2,1985-01-03,http://www.marketwatch.com/story/gold-futures-...,Gold futures edge up after two-session decline,1,0,0,0,1,0,positive
3,1985-01-04,https://www.metalsdaily.com/link/277199/dent-r...,dent research : is gold's day in the sun comin...,0,0,0,0,0,1,none
4,1985-01-07,http://www.marketwatch.com/story/gold-steadies...,"Gold snaps three-day rally as Trump, lawmakers...",0,0,1,0,1,0,negative
...,...,...,...,...,...,...,...,...,...,...
10565,NaT,https://www.moneycontrol.com/news/business/mar...,gold seen falling from 3-week high this week,0,0,1,0,1,0,negative
10566,NaT,https://www.metalsdaily.com/link/284468/domini...,dominic frisby : now looks like a good time to...,1,0,0,0,0,1,positive
10567,NaT,https://www.thehindubusinessline.com/markets/g...,Gold heading for worst week since November on ...,0,0,1,0,1,0,negative
10568,NaT,http://www.marketwatch.com/story/august-gold-u...,august gold up $7.60 at $878.80 an ounce on nymex,1,0,0,0,1,0,positive
10569,NaT,http://www.marketwatch.com/story/december-gold...,december gold down $1 at $749 an ounce on nymex,0,0,1,0,1,0,negative